.audit-logs {
	display: flex;
	flex-direction: column;
	width: 100%;
	border: solid $border-color 1px;
	border-radius: 5px;
	margin: auto;
	padding-left: 20px;
	padding-right: 20px;
	box-sizing: border-box;

	.audit-logs__header {
		font-weight: 500;
	}

	.audit-logs__none {
		text-align: center;
	}

	.audit-logs__tools {
		display: flex;
		justify-content: space-between;
		width: 100%;
		max-width: 280px;
		margin-top: 30px;
		i {
			margin-right: 8px;
		}
		a {
			text-decoration: none;
		}
	}

	table {
		margin-top: 25px;
		width: 100%;
		border-collapse: collapse;
		color: $gray-900;
		margin-bottom: 15px;
		border-radius: 15px;
		th {
			border: solid $border-color 1px;
			width: 200px;
			padding: 15px 0;
		}
		tbody {
			tr {
				text-align: center;
				padding: 5px 0;
				transition: 0.2s ease-in;
				&:hover {
					background-color: $primary-light-9;
					transition: 0.2s ease-in;
				}
			}
		}

		td {
			padding: 15px;
			height: 50px;
			border: solid $border-color 1px;
		}
	}
}
