.dashboard {
	display: flex;
	flex-direction: column;
	width: 100%;
	border: solid $border-color 1px;
	border-radius: 5px;
	margin: auto;
	padding-left: 20px;
	padding-right: 20px;
	box-sizing: border-box;
}

.dashboard-cards {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	margin-top: 30px;
}

.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 30%;
	max-width: 250px;
	height: 150px;
	border-radius: 5px;
	border: solid $primary-light-5 2px;
	box-shadow: 14px 13px 7px -12px rgba(0, 0, 0, 0.75);
	margin-bottom: 20px;
	position: relative;
	i {
		position: absolute;
		top: 20px;
		left: 30px;
		color: $primary-light-3;
	}
}

.card-quantity {
	font-size: 32px;
	color: $primary-light-3;
}

.card-label {
	font-size: 20px;
}

.dasboard-charts {
	display: flex;
	margin: 50px 0;
}

.chart {
	width: 100%;
}

.dashboard-best {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	width: 60%;
}

.dashboard-best-list {
	border-radius: 5px;
	border: solid $primary-light-5 2px;
	box-shadow: 14px 13px 7px -12px rgba(0, 0, 0, 0.75);
	padding-bottom: 20px;
	h2 {
		text-align: center;
	}
}

.dashboard-best__item {
	display: flex;
	justify-content: space-between;
	padding: 15px;
	box-sizing: border-box;
	width: 80%;
	margin: auto;
	border-bottom: solid $gray-300 3px;
}
