.new-loan {
	display: flex;
	flex-direction: column;
	width: 100%;
	border: solid $border-color 1px;
	border-radius: 5px;
	margin: auto;
	padding-left: 20px;
	padding-right: 20px;
	box-sizing: border-box;
}

.new-book__header {
	font-weight: 500;
}

.new-loan-form {
	max-width: 600px;
	padding-left: 100px;
}

.new-loan-form__item {
	width: 100%;
	margin: 1.7rem 0;
}

.new-loan-datepicker {
	width: 100%;
	height: 40px;
	padding-left: 15px;
	box-sizing: border-box;
}

.new-loan-form__btns {
	display: flex;
	justify-content: flex-start;
	margin-bottom: 15px;
}

.new-loan-form__btn {
	margin-right: 20px;
}
