.new-book {
	display: flex;
	flex-direction: column;
	width: 100%;
	border: solid $border-color 1px;
	border-radius: 5px;
	margin: auto;
	padding-left: 20px;
	padding-right: 20px;
	box-sizing: border-box;
}

.new-book__header {
	font-weight: 500;
}

.new-book-form {
	max-width: 600px;
	padding-left: 100px;
}

.new-book-form__btns {
	display: flex;
	justify-content: flex-start;
	margin-bottom: 15px;
}

.new-book-form__btn {
	margin-right: 20px;
}
