@import url('https://fonts.googleapis.com/css?family=Roboto:400,500|Sarabun:400,600,700');

// Color variables
$white: #ffffff;

$primary: #eb2f96;
$success: #67c23a;
$success-2: #edfae6;
$warning: #e6a23c;
$danger: #f56c6c;
$error: #f54242;
$link: #4287f5;
$info: #909399;
$dark: #141516;
$primary-light-1: #ed44a1;
$primary-light-2: #ef59ab;
$primary-light-3: #f16db6;
$primary-light-4: #f382c0;
$primary-light-5: #f597cb;
$primary-light-6: #f7acd5;
$primary-light-7: #f9c1e0;
$primary-light-8: #fbd5ea;
$primary-light-9: #fdeaf5;
$border-color: #e6e6e6;

// Gray Colors
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;

$bg-body: #ffffff;

$font-family: 'Roboto', sans-serif;
$font-family-secondary: 'Sarabun', sans-serif;

$shadow: 0px 0px 13px 0px rgba(236, 236, 241, 0.44);

$base-font: 14px;
